.DS_Store
/main/applet
/main/application.linux-arm64
/main/application.linux-armv6hf
/main/application.linux32
/main/application.linux64
/main/application.windows32
/main/application.windows64
/main/application.macosx

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

/main/*.autosave

out
